name: Apply patch to oxc-node

on:
  workflow_dispatch:

jobs:
  apply_patch:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
        with:
          repository: oxc-project/oxc-node
          ref: v0.0.35
          path: oxc-node
      - name: apply patch
        working-directory: oxc-node
        shell: bash
        run: |
          git apply <<'PATCH'
          diff --git a/.cargo/config.toml b/.cargo/config.toml
          index dda5ea5..3e8417f 100644
          --- a/.cargo/config.toml
          +++ b/.cargo/config.toml
          @@ -1,4 +1,4 @@
          -[target.'cfg(target_env = "gnu")']
          +[target.'cfg(all(target_env = "gnu", target_os = "linux"))']
           rustflags = ["-C", "link-args=-Wl,-z,nodelete"]

           [target.x86_64-pc-windows-msvc]
          @@ -10,7 +10,7 @@ rustflags = ["-C", "target-feature=+crt-static"]
           [target.aarch64-pc-windows-msvc]
           rustflags = ["-C", "target-feature=+crt-static"]

          -[target.'cfg(target_os = "windows")']
          +[target.'cfg(all(target_os = "windows", target_env = "msvc"))']
           rustflags = [
             # Disables linking against the default Universal C Runtime (libucrt.lib). This prevents conflicts if another CRT library is linked manually.
             "-C",
          @@ -21,6 +21,9 @@ rustflags = [
             "link-args=/DEFAULTLIB:ucrt.lib",
           ]

          +[target.x86_64-pc-windows-gnu]
          +rustflags = [ "-C", "link-arg=-ladvapi32" ]
          +
           # LLD linker is currently broken for us, opt out.
           # https://blog.rust-lang.org/2025/09/18/Rust-1.90.0/#what-s-in-1-90-0-stable
           [target.x86_64-unknown-linux-gnu]
          PATCH
