name: Build napi-rs with its dependencies

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/ci.yml"
      - "patches/oxc-node.cargo-config.patch"
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/ci.yml"
      - "patches/oxc-node.cargo-config.patch"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        sys: [UCRT64, CLANG64, MINGW64, CLANGARM64]
    runs-on: ${{ matrix.sys == 'CLANGARM64' && 'windows-11-arm' || 'windows-latest' }}

    steps:
      - uses: actions/checkout@v6

      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.sys }}
          update: false
          install: >-
            git
            curl
          pacboy: >-
            toolchain:p
            cmake:p
            rust:p
            yarn:p
            ${{ (matrix.sys == 'CLANG64' || matrix.sys == 'CLANGARM64') && 'gcc-compat:p' || '' }}

      - name: Show working directory (Windows)
        shell: pwsh
        run: |
          Get-Location
          ls

      - name: Echo System Info
        shell: msys2 {0}
        run: |
          echo "MSYSTEM = $MSYSTEM"
          uname -a
          pacman -Q msys2-runtime || true
          cargo -Vv
          pwd

      - name: Build oxc-node with patch
        shell: msys2 {0}
        run: |
          git clone --depth 1 https://github.com/oxc-project/oxc-node
          cd oxc-node
          git apply -v ../patches/oxc-node.cargo-config.patch
          TARGET=$(rustc -vV | grep '^host:' | awk '{print $2}')
          cargo build --release --target $TARGET
