name: Review with Gemini

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  review:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Summary with gemini
        uses: IronBlood/gemini-pr-summary-action@v0.1.0
        with:
          github_token: ${{ github.token }}
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          GEMINI_MODEL: gemini-2.5-pro
